@using Models
@model IEnumerable<CityWeather>
@{
    ViewBag.Title = "Weather";
}
<div class="page-content">
    <h2>Weather Detail</h2>
    <div class="flex ">
        @foreach (CityWeather city in Model)
        {
            @await Component.InvokeAsync("City", new { city = city })
        }
    </div>
</div>

